{% extends 'base.html' %} {% block body %}

<!-- About us component -->

<div>
  <div class="flex flex-col items-center justify-center md:px-10 px-6 mb-10 mt-36">
    <h3 class="text-6xl">About Us</h3>
    <div class="container pt-20">
      <img class="md:rounded-[50%]  w-56 h-56 md:float-left md:ml-0 ml-10 md:mb-0 mb-10" src="/static/assests/logo.png"
        alt="">
      <p class=" text-[20px]">
        <span class="text-2xl font-[700]">At Shree Shrinivas Travels</span>, we strive to offer the best possible client
        service. We are certain that you will enjoy your experience, and we intend to keep expanding in the future. <br>
        <br>
        Welcome to Shree Shrinivas Travels! Our company was established with the goal of providing premium class travel
        services to our customers at a competitive price. We believe that everyone should have access to safe,
        comfortable, and reliable transportation, and we strive to make that a reality for our clients. <br> <br>
        With a combined experience of 10+ years in the industry, our team is dedicated to delivering the best in class
        experience to our customers. We understand the importance of punctuality, safety, and comfort when it comes to
        travel, and we work hard to ensure that our clients receive the highest level of service possible. <br> <br>
        Our core fleet of 30+ vehicles provides 24/7 service across Pune and Mumbai operations, and we also have our
        presence in Ahmed Nagar, Nashik, Aurangabad, Goa, Bangalore, and Delhi. Whether you need transportation for
        business, leisure, or special events, we have the expertise and resources to meet your needs. <br> <br>

        We provide a diverse fleet of automobiles. All of our vehicles have power steering, electric windows, and air
        conditioning. Only authorized dealerships are used to purchase and maintain any of our automobiles. <br> <br>

        We take great pride in our individualized service, fantastic automobiles and competitive prices. <br> <br>

        Our car rental services are known for their superiority and elegance. We understand that when it comes to
        getting from point A to B, the more options you have the better! <br> <br>

        We at Shree Shrinivas Travels can assist you with car rentals for any occasion, including family vacations and
        business excursions. <br> <br>

        At Shree Shrinivas Travels, we are committed to exceeding our customers’ expectations. We take pride in our
        professionalism, reliability, and customer service, and we look forward to serving you on your next trip. Thank
        you for choosing Shree Shrinivas Travels as your transportation partner.
      </p>
    </div>
  </div>
  <div class="md:ml-44 ml-6 space-y-8 mb-10">
    <h2 class="md:text-5xl text-3xl mt-10">Key features of our company</h2>
    <ul class="text-[20px] space-y-2">
      <li>• Competitive pricing in line with industry standards</li>
      <li>• 24×7 proactive support to ensure the best possible experience for clients</li>
      <li>• Robust escalation matrix to quickly highlight and resolve any issues</li>
      <li>• Analysis of clients’ travel patterns to suggest cost-saving measuresli</li>
      <li>• Flexibility in service to provide a transparent and hassle-free experience</li>
      <li>• Current customer satisfaction score of 4.6/5, with constant efforts to improve based on feedback</li>
      <li>• Prompt invoicing and resolution of any queries</li>
      <li>• GPS-equipped vehicles with central team tracking</li>
      <li>• Additional tracking/connectivity options maintained for VIP or female travelers, or priority trips</li>
      <li>• Cab management at distribution nodes across the city for a quick response to client requests</li>
    </ul>
  </div>
</div>

{% endblock %}