<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>About us</title>
    <link rel="stylesheet" href="/static/style.css">
    <script
      src="https://kit.fontawesome.com/c4a3389572.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <!-- Header component -->

    <div>
        <header class="flex justify-between md:p-6 p-4 bg-gray-200 header">
          <div class="logo md:space-x-2 space-x-1 flex item-center justify-center gap-4 pt-3">
            <img class="w-10 h-10" src="/static/assests/logo.png" alt="" />
            <span class="md:text-2xl text-[18px] md:pt-0 pt-1"
              >Shreenivas Travels</span
            >
          </div>
          <div class="links flex gap-10">
            <ul class="gap-8 pt-4 hidden md:flex">
              <li class="hover:text-blue-700 cursor-pointer">Home</li>
              <li class="hover:text-blue-700 cursor-pointer">Testimonial</li>
              <li class="hover:text-blue-700 cursor-pointer">Packages</li>
              <li class="hover:text-blue-700 cursor-pointer">Gallery</li>
              <li class="hover:text-blue-700 cursor-pointer">About Us</li>
              <li class="hover:text-blue-700 cursor-pointer">Contact Us</li>
            </ul>
            <div
              class="contact p-3 text-[18px] bg-blue-800 text-white rounded-lg hover:bg-blue-900 cursor-pointer"
            >
              <i class="fa-solid fa-phone pt-1 text-white"></i>
              8888836692
            </div>
          </div>
        </header>
      </div>

<!-- About us component -->

   <div>
    <div class="flex flex-col items-center justify-center md:px-10 px-6 mb-10">
        <h3 class="text-6xl">About Us</h3>
        <div class="container pt-20">
                <img class="md:rounded-[50%]  w-56 h-56 md:float-left md:ml-0 ml-10 md:mb-0 mb-10"  src="/static/assests/logo.png" alt="">
            <p class=" text-[20px]">
                <span class="text-2xl font-[700]">At Shree Shrinivas Travels</span>, we strive to offer the best possible client service. We are certain that you will enjoy your experience, and we intend to keep expanding in the future. <br> <br>
                Welcome to Shree Shrinivas Travels! Our company was established with the goal of providing premium class travel services to our customers at a competitive price. We believe that everyone should have access to safe, comfortable, and reliable transportation, and we strive to make that a reality for our clients. <br> <br>
                With a combined experience of 10+ years in the industry, our team is dedicated to delivering the best in class experience to our customers. We understand the importance of punctuality, safety, and comfort when it comes to travel, and we work hard to ensure that our clients receive the highest level of service possible. <br> <br>
                Our core fleet of 30+ vehicles provides 24/7 service across Pune and Mumbai operations, and we also have our presence in Ahmed Nagar, Nashik, Aurangabad, Goa, Bangalore, and Delhi. Whether you need transportation for business, leisure, or special events, we have the expertise and resources to meet your needs. <br> <br>

                We provide a diverse fleet of automobiles. All of our vehicles have power steering, electric windows, and air conditioning. Only authorized dealerships are used to purchase and maintain any of our automobiles. <br> <br>

                We take great pride in our individualized service, fantastic automobiles and competitive prices. <br> <br>

                Our car rental services are known for their superiority and elegance. We understand that when it comes to getting from point A to B, the more options you have the better! <br> <br>

                We at Shree Shrinivas Travels can assist you with car rentals for any occasion, including family vacations and business excursions. <br> <br>

                At Shree Shrinivas Travels, we are committed to exceeding our customers’ expectations. We take pride in our professionalism, reliability, and customer service, and we look forward to serving you on your next trip. Thank you for choosing Shree Shrinivas Travels as your transportation partner.   
            </p>
        </div>
    </div>
    <div class="md:ml-44 ml-6 space-y-8 mb-10">
        <h2 class="md:text-5xl text-3xl mt-10">Key features of our company</h2>
        <ul class="text-2xl space-y-2">
            <li>• Competitive pricing in line with industry standards</li>
            <li>• 24×7 proactive support to ensure the best possible experience for clients</li>
            <li>• Robust escalation matrix to quickly highlight and resolve any issues</li>
            <li>• Analysis of clients’ travel patterns to suggest cost-saving measuresli</li>
            <li>• Flexibility in service to provide a transparent and hassle-free experience</li>
            <li>• Current customer satisfaction score of 4.6/5, with constant efforts to improve based on feedback</li>
            <li>• Prompt invoicing and resolution of any queries</li>
            <li>• GPS-equipped vehicles with central team tracking</li>
            <li>• Additional tracking/connectivity options maintained for VIP or female travelers, or priority trips</li>
            <li>• Cab management at distribution nodes across the city for a quick response to client requests</li>
        </ul>
    </div>
   </div>

    <!-- footer -->
    <div>
        <footer class="bg-black flex md:flex-row flex-col md:gap-72 gap-10 text-white md:px-40 px-10 py-20">
          <div class="desc space-y-4 md:w-[20vw] w-[60vw] pt-5">
            <h3 class="text-3xl">Shree Shrinivas Travels</h3>
            <p>
              Our core fleet of 30+ vehicles provides 24/7 service across Pune and
              Mumbai operations, and we also have our presence in Ahmed Nagar, Nashik,
              Aurangabad, Goa, Bangalore, and Delhi.
            </p>
            <div class="social space-x-6 md:block flex flex-row">
              <i class="fa-brands fa-facebook hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
              <i class="fa-brands fa-twitter hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
              <i class="fa-brands fa-instagram hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
              <i class="fa-brands fa-linkedin hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
            </div>
          </div>
      
          <div class="flex flex-col md:flex-row p-4 md:gap-40 gap-20">
            <div class="links space-y-4">
              <h2 class="text-3xl cursor-pointer">Quick Links</h2>
              <ul class=" space-y-4">
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Home</li>
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Testimonial</li>
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Packages</li>
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Gallery</li>
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> About us</li>
                <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Contact Us</li>
              </ul>
            </div>
      
            <div class="contact w-[200px] space-y-4">
              <h2 class="text-3xl cursor-pointer">Contact</h2>
              <div class="location">
                Flat No. C4-102. 29 Gold Coast, Tingare Nagar Dhanori Pune -411032
              </div>
              <div>+918888836692</div>
              <div>+917219789977</div>
              <div>sales@shrinivastravels.com</div>
            </div>
          </div>
        </footer>
      </div>
    
</body>
</html>