{% extends 'base.html' %} {% block body %}

<!-- Component of gallery -->

<div class="flex flex-col items-center mt-20">
  <h4 class="text-5xl font-bold mt-10">Our gallery</h4>
  <div class="flex justify-center my-10 md:gap-10 gap-2 mx-2 flex-wrap">
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit2.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit3.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit4.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit5.avif" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit6.webp" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    <div class="gallery-cards">
      <img src="/static/assests/punevisit.jpg" alt="" />
    </div>
    
  </div>
</div>


{% endblock %}