<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Gallery</title>
    <script
      src="https://kit.fontawesome.com/c4a3389572.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- Component of Navbar -->

    <div>
      <header class="flex justify-between md:p-6 p-4 bg-gray-200 header">
        <div class="logo md:space-x-2 space-x-1 flex item-center justify-center gap-4 pt-3">
          <img class="w-10 h-10" src="/static/assests/logo.png" alt="logo image" />
          <span class="md:text-2xl text-[18px] md:pt-0 pt-1"
            >Shreenivas Travels</span
          >
        </div>
        <div class="links flex gap-10">
          <ul class="gap-8 pt-4 hidden md:flex">
            <a href="">
              <li class="hover:text-blue-700 cursor-pointer">Home</li></a
            >
            <a href=""
              ><li class="hover:text-blue-700 cursor-pointer">
                Testimonial
              </li></a
            >
            <a href=""
              ><li class="hover:text-blue-700 cursor-pointer">Packages</li></a
            >
            <a href="">
              <li class="hover:text-blue-700 cursor-pointer">Gallery</li></a
            >
            <a href="aboutus.html"
              ><li class="hover:text-blue-700 cursor-pointer">About Us</li></a
            >
            <a href=""
              ><li class="hover:text-blue-700 cursor-pointer">Contact Us</li></a
            >
          </ul>
          <div
            class="contact p-3 text-[18px] bg-blue-800 text-white rounded-lg hover:bg-blue-900 cursor-pointer"
          >
            <i class="fa-solid fa-phone pt-1 text-white"></i>
            8888836692
          </div>
        </div>
      </header>
    </div>

    <!-- Component of gallery -->

    <div class="flex flex-col items-center">
      <h4 class="text-5xl font-bold">Our gallery</h4>
      <div class="flex justify-center my-10 md:gap-8 gap-2 flex-wrap">
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit2.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit3.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit4.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit5.avif" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit6.webp" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
        <div class="gallery-cards">
          <img src="/static/assests/punevisit.jpg" alt="" />
        </div>
      </div>
    </div>

    <!-- Component for footer -->

    <div>
      <footer
        class="bg-black flex md:flex-row flex-col md:gap-72 gap-10 text-white md:px-40 px-10 py-20"
      >
        <div class="desc space-y-4 md:w-[20vw] w-[60vw] pt-5">
          <h3 class="text-3xl">Shree Shrinivas Travels</h3>
          <p>
            Our core fleet of 30+ vehicles provides 24/7 service across Pune and
            Mumbai operations, and we also have our presence in Ahmed Nagar,
            Nashik, Aurangabad, Goa, Bangalore, and Delhi.
          </p>
          <div class="social space-x-6 md:block flex flex-row">
            <i
              class="fa-brands fa-facebook hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"
            ></i>
            <i
              class="fa-brands fa-twitter hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"
            ></i>
            <i
              class="fa-brands fa-instagram hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"
            ></i>
            <i
              class="fa-brands fa-linkedin hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"
            ></i>
          </div>
        </div>

        <div class="flex flex-col md:flex-row p-4 md:gap-40 gap-20">
          <div class="links space-y-4">
            <h2 class="text-3xl cursor-pointer">Quick Links</h2>
            <ul class="space-y-4">
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> Home
              </li>
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> Testimonial
              </li>
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> Packages
              </li>
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> Gallery
              </li>
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> About us
              </li>
              <li class="hover:text-blue-200 cursor-pointer">
                <i class="fa-solid fa-angle-right"></i> Contact Us
              </li>
            </ul>
          </div>

          <div class="contact w-[200px] space-y-4">
            <h2 class="text-3xl cursor-pointer">Contact</h2>
            <div class="location">
              Flat No. C4-102. 29 Gold Coast, Tingare Nagar Dhanori Pune -411032
            </div>
            <div>+918888836692</div>
            <div>+917219789977</div>
            <div>sales@shrinivastravels.com</div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
