{% extends 'base.html' %} {% block body %}


<!-- Component of Section 1 -->

<div>
    <main class="main flex md:h-[70vh] h-[100vh] p-10 justify-between mt-20 md:flex-row flex-col-reverse">
        <div class="left flex flex-col justify-center gap-10 md:pl-20 pl-4 md:w-[40vw]">
            <h1 class="text-5xl font-bold">Welcome to Shree Shrinivas Travels!</h1>
            <p>
                Our company was established with the goal of providing premium class
                travel services to our customers at a competitive price. We believe that
                everyone should have access to safe, comfortable, and reliable
                transportation, and we strive to make that a reality for our clients.
            </p>
            <div class="btns flex gap-4 text-white">
                <span class="p-4 bg-pink-500 rounded-lg hover:bg-pink-700 cursor-pointer">Get Exploration</span>
                <span class="p-4 bg-pink-500 rounded-lg hover:bg-pink-700 cursor-pointer">Read More</span>
            </div>
        </div>
        <div class="right">
            <img class="md:w-[600px] w-[400px] mix-blend-multiply" src="/static/assests/sectio1-img.png" alt="" />
        </div>
       
    </main>
</div>

<div
class="form md:p-8 bg-pink-200 flex flex-col flex-wrap md:justify-center items-center mt-4 md:ml-0 md:mr-0 p-2 ">
<div class="flex gap-3 justify-start">
    <div
    class="hotel md:p-3 p-1 rounded-t-lg bg-pink-500  md:px-20 px-10 text-white text-2xl cursor-pointer active:bg-pink-700 hover:bg-pink-700">
    Hotel
</div>
<div
    class="hotel md:p-3 p-1 rounded-t-lg bg-pink-500  left-[220px] md:px-20 px-10 text-white text-2xl cursor-pointer active:bg-pink-700 hover:bg-pink-700 md:flex">
    Car
</div>
</div>
<form action="#" class="flex gap-4 flex-col md:flex-row flex-wrap justify-center md:w-[80%] md:p-10 pb-10 p-2">
    <div class="flex flex-col md:gap-5">
        <label for="Destination">Your Destination</label>
        <input type="text" name="" id="Destination" class="rounded-lg outline-none md:w-56 w-[100%]" />
    </div>

    <div class="flex gap-5">
        <div class="flex flex-col gap-5">
            <label for="checkin">Check In</label>
            <input type="date" name="" id="checkin" class="rounded-lg" />
        </div>

        <div class="flex flex-col gap-5">
            <label for="checkout">Check out</label>
            <input type="date" name="" id="checkout" class="rounded-lg" />
        </div>
    </div>

    <div class="flex gap-5">
        <div class="flex flex-col gap-5">
            <label for="child">Child</label>
            <input type="text" name="" id="child" class="rounded-lg md:w-56 w-[160px]" />
        </div>

        <div class="flex flex-col gap-5">
            <label for="adult">Adult</label>
            <input type="text" name="" id="adult" class="rounded-lg md:w-56 w-[160px]" />
        </div>
    </div>

    <div class="pt-12">
        <span
            class="p-4 px-8 mx-20 md:mx-0 text-white text-2xl bg-pink-500 rounded-lg cursor-pointer hover:bg-pink-700">Book
            Now</span>
    </div>
</form>
</div>

<!-- Component for section 2 -->

<div>
    <div class="place md:px-96 md:pt-32 text-center md:mb-40 mb-10 mt-10 flex flex-col">
        <div class="heading">
            <h2 class="md:text-7xl text-4xl font-[500]">Find next place to Visit</h2>
        </div>
        <div class="sec2-cards pt-20 text-left flex md:flex-row flex-col gap-10 items-center">
            <div class="card1 flex relative flex-col  text-white md:h-[460px] md:w-[300px] w-[300px] h-[400px]">
                <img src="/static/assests/travels1.avif" alt="">
               <div class="absolute md:top-96 top-80 left-4">
                <p class=" text-3xl font-bold">Pune</p>
                <p class="text-[23px]">Starting from $1200</p>
               </div>
            </div>

            <div class="space-y-8">
                <div class="card1 card2 flex relative flex-col text-white md:h-[220px] md:w-[300px] w-[300px] h-[400px]">
                    <img src="/static/assests/travels1.avif" alt="">
                   <div class="absolute md:top-36 top-80 left-4">
                    <p class=" text-3xl font-bold">Pune</p>
                    <p class="text-[23px]">Starting from $1200</p>
                   </div>
                </div>

                <div class="card1 card2 flex relative flex-col text-white md:h-[220px] md:w-[300px] w-[300px] h-[400px]">
                    <img src="/static/assests/travels1.avif" alt="">
                   <div class="absolute md:top-36 top-80 left-4">
                    <p class=" text-3xl font-bold">Pune</p>
                    <p class="text-[23px]">Starting from $1200</p>
                   </div>
                </div>
            </div>

            <div class="card1 flex relative flex-col text-white md:h-[460px] md:w-[300px] w-[300px] h-[400px]">
                <img src="/static/assests/travels1.avif" alt="">
               <div class="absolute md:top-96 top-80 left-4">
                <p class=" text-3xl font-bold">Pune</p>
                <p class="text-[23px]">Starting from $1200</p>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- Component for section 3 -->

<div>
    <div class=" ram bg-gradient-to-r from-pink-100 to-pink-300 md:flex md:p-28 p-8 gap-10">
        <div class="left md:w-[60%]">
            <img class="md:w-[800px] md:h-[550px] w-[600px] h-[300px] rounded-lg" src="/static/assests/punevisit.jpg"
                alt="" />
        </div>
        <div class="right md:w-[35%] space-y-8 pt-10">
            <h2 class="md:text-5xl text-2xl font-bold">
                Ram Mandir: A Grand Temple in the Heart of Pune
            </h2>
            <p class="text-[20px]">
                Ram mandir Pune: Pune, known as the cultural capital of Maharashtra, is
                home to numerous temples that showcase the city's rich cultural and
                spiritual heritage. One of the most iconic temples in Pune is the Ram
                Mandir located in the bustling Pune Camp area. This magnificent temple
                is dedicated to Lord Ram and sees thousands of devotees flocking daily
                to offer prayers and seek blessings.
            </p>
            <button class="p-4 px-4 bg-pink-500 hover:bg-pink-700 text-white rounded-lg mx-24">
                Book Now
            </button>
        </div>
    </div>
</div>

<!--component for section 4 -->

<div>
    <div class=" Sinhagad md:flex md:flex-row-reverse md:p-28 p-8 gap-56">
        <div class="left md:w-[50%]">
            <img class="md:w-[800px] md:h-[550px] w-[600px] h-[300px] rounded-lg" src="/static/assests/punevisit2.jpg"
                alt="" />
        </div>
        <div class="right md:w-[40%] space-y-8 pt-10">
            <h2 class="md:text-5xl text-2xl font-bold">
                Sinhagad : An ancient hill fortress
            </h2>
            <p class="text-[20px]">
                The fort was captured by Tanaji Malusare and his brother. Sinhagad
                (Lion's Fort) fort was strategically built to provide natural protection
                from the enemies due to its very steep slopes.The walls of the forts and
                bastions were constructed only at key places. There are two gates to
                enter the fort named Kalyan Darwaja and Pune Darwaza.
            </p>
            <button class="p-4 px-4 bg-pink-500 hover:bg-pink-700 text-white rounded-lg md:mx-0 mx-24">
                Book Now
            </button>
        </div>
    </div>
</div>

<!-- component of section 5 -->

<div>
    <div class="place bg-gradient-to-r from-red-100 to-pink-200 py-10 flex flex-col items-center gap-10 px-4 scroller">
        <p class="md:text-6xl text-3xl">
            <span class="font-bold">Pune</span> Tourist Places and Hotels
        </p>
        <div class="md:w-[80vw] w-[90vw] justify-center flex mt-8 p-4">
            <div class="slider relative">
                <div class="flex">
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit4.jpg" alt="Slide 1">
                    </div>
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit3.jpg" alt="Slide 2">
                    </div>
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit6.webp" alt="Slide 3">
                    </div>
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit2.jpg" alt="Slide 3">
                    </div>
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit.jpg" alt="Slide 3">
                    </div>
                    <div class="slide w-auto">
                        <img class="md:w-[1200px] w-[1200px] md:h-[600px] h-[400px]" src="/static/assests/punevisit5.avif" alt="Slide 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Component for footer -->



{% endblock %}