{% extends 'base.html' %} {% block body %}


<!-- Component of packages -->

<div>
  <div class="flex flex-col items-center mt-36">
    <h4 class="text-5xl font-bold">Our Packages</h4>
    <div class="flex justify-center my-10 md:gap-20 gap-2 text-3xl rounded-lg md:px-32 flex-wrap">
      
      <!-- article section -->
      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

     
      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>
     
      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      <article class="card">
        <img
          class="card__background"
          src="/static/assests/punevisit.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title text-white">Colombia</h2>
            <p class="card__description text-white">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
              labore laudantium deserunt fugiat numquam.
            </p>
          </div>
          <button class="card__button">Read more</button>
        </div>
      </article>

      

    </div>
  </div>
</div>

{% endblock %}