{% extends 'base.html' %} {% block body %}


<!-- Component of packages -->

<div>
  <div class="flex flex-col items-center">
    <h4 class="text-5xl font-bold">Our Packages</h4>
    <div class="flex justify-center my-10 md:gap-20 gap-2 text-3xl rounded-lg md:px-32 flex-wrap">
      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Mumbai</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Asthavinayak Darshan</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Alibaug</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Shirdi</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Mahabaleshwar</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Kass pathar</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Bhimashankar</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Sade Tin Shakti Peeth</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Saptashrungi</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune Local Cab Rental</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">OutStation Bus Rental Service</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Mumbai Airport To Pune Cab</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Goa</h1>
      </div>

      <div class="packages-cards flex flex-col p-3 gap-3 items-center">
        <img src="/static/assests/punevisit.jpg" alt="" />
        <h1 class="">Pune to Nashik</h1>
      </div>
    </div>
  </div>
</div>

{% endblock %}