{% extends 'base.html' %} {% block body %}

<div>
    <h3 class="my-10 text-center text-5xl font-bold">Testimonial</h3>
    <div class="flex justify-center flex-wrap">
        {% for testimonial in testimonials %}
        <div class="testimonial-card">
            <div class="user">
                <div class="userlogo">
                    <p>{{testimonial[0][0]}}</p>
                </div>
                <div class="username">
                    {{testimonial[0]}}
                </div>
            </div>
            <div class="stars">
                {% for i in range(5) %}
                <i class="fa-solid fa-star"></i>
                {% endfor %}
            </div>
            <div class="testimonial-content">
                <h2>{{testimonial[1]}}</h2>
                <p>{{testimonial[2]}}</p>
            </div>
            <div class="testimonial-author">
                <p>- Sarah and John Smith, Happy Travelers</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}