<div>
    <footer class="bg-black flex md:flex-row flex-col md:gap-72 gap-10 text-white md:px-40 px-10 py-20">
        <div class="desc space-y-4 md:w-[20vw] w-[60vw] pt-5">
            <h3 class="text-3xl">Shree Shrinivas Travels</h3>
            <p>
                Our core fleet of 30+ vehicles provides 24/7 service across Pune and
                Mumbai operations, and we also have our presence in Ahmed Nagar, Nashik,
                Aurangabad, Goa, Bangalore, and Delhi.
            </p>
            <div class="social space-x-6 md:block flex flex-row">
                <i
                    class="fa-brands fa-facebook hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
                <i
                    class="fa-brands fa-twitter hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
                <i
                    class="fa-brands fa-instagram hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
                <i
                    class="fa-brands fa-linkedin hover:bg-blue-200 p-2 rounded-lg border-2 border-blue-200 cursor-pointer"></i>
            </div>
        </div>

        <div class="flex flex-col md:flex-row p-4 md:gap-40 gap-20">
            <div class="links space-y-4">
                <h2 class="text-3xl cursor-pointer">Quick Links</h2>
                <ul class=" space-y-4">
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Home</li>
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Testimonial
                    </li>
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Packages
                    </li>
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Gallery</li>
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> About us
                    </li>
                    <li class="hover:text-blue-200 cursor-pointer"><i class="fa-solid fa-angle-right "></i> Contact Us
                    </li>
                </ul>
            </div>

            <div class="contact w-[200px] space-y-4">
                <h2 class="text-3xl cursor-pointer">Contact</h2>
                <div class="location">
                    Flat No. C4-102. 29 Gold Coast, Tingare Nagar Dhanori Pune -411032
                </div>
                <div>+918888836692</div>
                <div>+917219789977</div>
                <div>sales@shrinivastravels.com</div>
            </div>
        </div>
    </footer>
</div>