<div class="rounded-lg">
    <header class="flex justify-between md:p-6 p-4 bg-gray-200 header">
        <a href="/" class="logo md:space-x-2 space-x-1 flex item-center justify-center gap-4 pt-3">
            <img class="w-10 h-10" src="/static/assests/logo.png" alt="" />
            <span class="md:text-2xl text-[18px] md:pt-0 pt-1">Shreenivas Travels</span>
        </a>
        <div class="links flex gap-10">
            <ul class="gap-8 pt-4 hidden md:flex">
                <a href="/">
                    <li class="hover:text-blue-700 cursor-pointer">Home</li>
                </a>
                <a href="">
                    <li class="hover:text-blue-700 cursor-pointer">Testimonial</li>
                </a>
                <a href="/packages">
                    <li class="hover:text-blue-700 cursor-pointer">Packages</li>
                </a>
                <a href="/gallery">
                    <li class="hover:text-blue-700 cursor-pointer">Gallery</li>
                </a>
                <a href="/about">
                    <li class="hover:text-blue-700 cursor-pointer">About Us</li>
                </a>
                <a href="/contact">
                    <li class="hover:text-blue-700 cursor-pointer">Contact Us</li>
                </a>
            </ul>
            <div class="contact p-3 text-[18px] bg-blue-800 text-white rounded-lg hover:bg-blue-900 cursor-pointer">
                <i class="fa-solid fa-phone pt-1 text-white"></i>
                8888836692
            </div>
        </div>
    </header>
</div>